<p> 
    <a href="{% url 'blogs:index' %}">Learning Log</a> -   
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
            {% csrf_token %}
        <button type="submit" >Logout</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}"> Register</a> or
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</p>
{% block content %}{% endblock content %}