{% extends "blogs/base.html" %}
{% block page_header %}
<h1 class="display-3">Blog Posts</h1>

<p class="lead">Welcome {{ user.first_name }} {{user.last_name}}! Here you can create any record to your journal and
    find all the latest posts.</p>
{% if user.is_authenticated %}
<p class="lead">You can also create a new post.</p>
<a class="btn btn-lg btn-primary" href="{% url 'blogs:new_post' %}">Create New Post</a>
{% else %}
<p class="lead">Please log in or sign up to create a new post.</p>
<a class="btn btn-lg btn-primary" href="{% url 'users:login' %}">Login</a>
<a class="btn btn-lg btn-secondary" href="{% url 'users:register' %}">Register</a>
{% endif %}
<a class="btn btn-lg btn-primary" href="{% url 'blogs:posts' %}">Review posts</a>



{% endblock page_header%}