{% extends 'blogs/base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Help to be done</h2>
    <p>Here you can find some manual/instruction for later</p>

    <h4>1. First help item</h4>
    <ul>
        <li><strong>Som text:</strong> Username, email, and password when you register.</li>
        <li><strong>Some additional Information:</strong> First name, last name (optional).</li>
        <li><strong>Some important Data:</strong> How you interact with our blog (posts, comments).</li>
    </ul>

    <h4>2. Second help item</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta felis nec quam posuere, sit amet semper nunc tempor. Ut cursus ligula massa, 
        vel consectetur eros aliquet ut. Sed ullamcorper facilisis diam eu dignissim. Nunc enim odio, porta vitae dapibus eu, fringilla quis lorem. Cras ultrices lacus 
        ligula, quis commodo quam facilisis nec. Duis ut turpis finibus quam convallis varius vel ac tortor. Duis nec sollicitudin massa.</p>
    
</div>
{% endblock content %}
